.pokemon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .pokemon-container {
        flex-direction: row;
        justify-content: center;
    }

    .pokemon-container img {
        margin-left: 10px; /* Adjust margin between p and img */
    }
}
