body {
  margin: 0;
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #dfd2d2;
}

code {
  font-family: "Tajawal", sans-serif;
}
.rock {
  background-color: #b57575; /* Slightly desaturated red */
}
.ghost {
  background-color: #f2f2f2; /* Light gray */
}
.electric {
  background-color: #fff8b3; /* Pale yellow */
}
.bug {
  background-color: #f9e5cd; /* Light peach */
}
.poison {
  background-color: #dcb8ed; /* Lavender */
}
.normal {
  background-color: #eaeaea; /* Light gray */
}
.fairy {
  background-color: #ffb3d9; /* Light pink */
}
.fire {
  background-color: #ffdbd6; /* Light salmon */
}
.grass {
  background-color: #c6ebd4; /* Pastel green */
}
.water {
  background-color: #c4e5f6; /* Sky blue */
}

.app-contaner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0.5rem;
}
.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.all-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.thumb-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0 ;
  margin: 0.3rem;
  border: 1px solid #efefef;
  border-radius: 0.2rem;
  min-width: 160px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
}
h3 {
  margin-bottom: 0.2rem;
}
.thumb-container .number {
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  background-color: rgba(85, 74, 74, 0.076);
}
.thumb-container img {
  width: 100px;
  height: 100px;
}
.thumb-container small {
  text-transform: capitalize;
}
.detail-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.detail-wrapper button {
  color: rgb(22, 22, 22);
  padding: .5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.185);
}
.load-more {
  background: #f5f5f5 linear-gradient(#395781,#456080) repeat-x;
  border-radius: 10px;
  border: 1px solid #c6c6c6;
  color: #f7f7f7;
  padding: 0.5rem 1.5rem;
  margin: 1rem;
  cursor: pointer;
}

/* HTML: <div class="loader"></div> */
.loader {
  height: 3px;
  width: 75px;
  --c:no-repeat linear-gradient(#000 0 0);
  background: var(--c), var(--c), var(--c), var(--c);
  background-size: 21% 100%;
  animation: l7 1s infinite alternate;
}
@keyframes l7 {
  0%,
  20%  {background-position: calc(0*100%/4) 0,calc(1*100%/4) 0,calc(2*100%/4) 0,calc(3*100%/4) 0}
  35%  {background-position: calc(0*100%/4) 0,calc(1*100%/4) 0,calc(2*100%/4) 0,calc(4*100%/4) 0}
  50%  {background-position: calc(0*100%/4) 0,calc(1*100%/4) 0,calc(3*100%/4) 0,calc(4*100%/4) 0}
  65%  {background-position: calc(0*100%/4) 0,calc(2*100%/4) 0,calc(3*100%/4) 0,calc(4*100%/4) 0}
  80%,
  100% {background-position: calc(1*100%/4) 0,calc(2*100%/4) 0,calc(3*100%/4) 0,calc(4*100%/4) 0}
}